# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# macOS
.DS_Store
**/.DS_Store

# Environment / secrets
.env

# Logs
*.log

# Optional: ignore .gitattributes (only if you don’t want it tracked)
.gitattributes
